/**
 * NavLink component styles
 * Navigation link with active state
 */

.link {
  font-size: var(--typography-font-size-xs);
  margin-left: var(--spacing-base-3);
  transition: opacity var(--effects-transition-base);
}

.link:hover {
  opacity: 1;
}

.inactive {
  opacity: 0.5;
}

.active {
  font-weight: var(--typography-font-weight-bold);
  opacity: 1;
}
