:root {
  --color-highlight: hsl(270, 37%, 48%);
  --color-highlight-fill: hsl(270, 100%, 97%);
  --color-accent: hsl(58, 100%, 50%);
  --color-accent-hint: hsl(173, 100%, 94%);
  --color-base-primary: hsl(0, 0%, 20%);
  --color-base-secondary: hsl(0, 0%, 40%);
  --color-hint: hsl(0, 0%, 89%);
  --color-white: hsl(0, 0%, 96%);

  --color-dark-base-secondary: hsl(0, 0%, 80%);
  --color-dark-hint: hsl(0, 0%, 11%);
  --color-dark-white: hsl(0, 0%, 5%);
}

.dark svg {
  filter: invert(100%);
}

.dark body {
  background-color: var(--color-dark-white);
  color: var(--color-dark-base-secondary);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Space Mono', monospace;
  color: var(--color-base-secondary);
  line-height: 1.75;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

::selection {
  background: var(--color-accent);
}

h1 {
  font-weight: 700;
  color: var(--color-base-primary);
}

h2 {
  font-weight: 700;
  font-size: 1.2rem;
  color: var(--color-base-primary);
}

ul {
  list-style: circle;
}

ol {
  list-style: decimal;
  list-style-position: inside;
  margin-top: 1rem;
  margin-left: 1rem;
}

li {
  margin-top: 0.75rem;
}

p {
  margin-top: 2rem;
}
