/* @tailwind base; */
/* @tailwind components; */
/* @tailwind utilities; */



:root {
  --color-highlight: hsl(270, 37%, 48%);
  --color-highlight-fill: hsl(270, 100%, 97%);
  --color-accent: hsl(58, 100%, 50%);
  --color-accent-hint: hsl(173, 100%, 94%);
  --color-base-primary: hsl(0, 0%, 20%);
  --color-base-secondary: hsl(0, 0%, 40%);
  --color-hint: hsl(0, 0%, 89%);
  --color-white: hsl(0, 0%, 96%);

  --color-dark-base-secondary: hsl(0, 0%, 80%);
  --color-dark-hint: hsl(0, 0%, 11%);
  --color-dark-white: hsl(0, 0%, 5%);
}

/* [data-icon] {
    font-size: 1.2rem;
} */

.dark svg {
  filter: invert(100%)
}

.dark body {
  background-color: var(--color-dark-white);
  color: var(--color-dark-base-secondary);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Space Mono', monospace;
  color: var(--color-base-secondary);
  line-height: 1.75;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

::selection {
  background: var(--color-accent);
}

h1 {
  font-weight: 700;
  color: var(--color-base-primary);
}

h2 {
  margin-top: 3rem;
  font-weight: 700;
  font-size: 1.2rem;
  color: var(--color-base-primary);
  text-align: center;
}

ul {
  list-style: circle;
}

ol {
  list-style: decimal;
  list-style-position: inside;
  margin-top: 1rem;
  margin-left: 1rem;
}

li {
  margin-top: 0.75rem;
}

p {
  margin-top: 2rem;
}


article a {
  border-bottom: 0.1rem dashed var(--color-hint);
}

article a:hover {
  border-bottom: 0.1rem solid var(--color-base-secondary);
}

article a:active {
  background-color: var(--color-accent-hint);
  outline: var(--color-accent-hint) 6px solid;
}

li > p {
  margin-top: 0;
}

p > code {
  border-radius: 0.25rem;
  padding: 0.2rem 0.5rem;
  margin-left: -0.25rem;
  margin-right: -0.25rem;
  background-color: var(--color-highlight-fill);
  color: var(--color-highlight);
}

pre {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 0.333rem;
  padding: 1.25rem 1.5rem;
  background-color: var(--color-white);
  font-size: 0.9rem;
  overflow: scroll;
}

li pre {
  margin-left: 1rem;
}

hr {
  margin-top: 1rem;
}
