---
import { getCollection } from 'astro:content'
import Pagee from '../layouts/Page.astro'
const blog = await getCollection('logs')
---

<Pagee title="Code">
  <p>Coming soon. I will be curating a catalog of my drawings here.</p>
</Pagee>
