---
import Page from '../layouts/Page.astro'
import PhotoGrid from '../components/PhotoGrid.svelte'
import photoData from '../data/photographing/photos.json'
import type { PhotoCollection } from '../data/photographing/types'

const data = photoData as PhotoCollection
const { photos } = data
---

<Page title="Photographing" constrainWidth={false}>
  <div class="container mx-auto px-4 py-8">
    {photos.length > 0 && <PhotoGrid photos={photos} client:load />}
  </div>
</Page>
