---
import Talk from '../components/Talk.astro'
import Page from '../layouts/Page.astro'
import Section from '../components/Section.astro'
import { talks } from '../consts'
---

<Page title="Speaking" constrainWidth={false}>
  <Section spacing="xl">
    <div class="container">
      <div class="max-w-3xl mx-auto">
        <div class="space-y-4">
          {talks.map((talk) => <Talk {...talk} />)}
        </div>
      </div>
    </div>
  </Section>
</Page>
