---
import Image from 'astro/components/Image.astro'
---

<header class="flex flex-col items-center mt-10">
  <a href="/">
    <Image class="" src="/images/logo-black.png" alt="Logo of Jason Kuhrt" width="50" height="50" />
  </a>
  <nav class="">
    <a href="/about">about</a>
    <a href="/blog">blog</a>
    <a href="/code">code</a>
    <a href="/photo">photo</a>
    <a href="/drawing">drawing</a>
  </nav>
</header>
