---
import '@fontsource/space-mono'

interface Props {
  title?: string
}
const props = Astro.props

import Navigation from '../components/navigation.astro'

import BaseHead from '../components/BaseHead.astro'
import { siteTitle, siteDescription } from '../consts'
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={siteTitle} description={siteDescription} />
    <title>Kuhrt{props.title ? `– ${props.title}` : ''}</title>
  </head>
  <body class="flex flex-col">
    <Navigation />
    <div>
      <slot />
    </div>
  </body>
</html>
