---
import { getCollection } from 'astro:content'
import Page from '../../layouts/Page.astro'
import { format } from 'date-fns'
import { render } from 'astro:content'

export const getStaticPaths = async () => {
  const writing = await getCollection('writing')
  return writing.map((item) => ({
    params: { slug: item.id },
    props: { item },
  }))
}

const { item } = Astro.props
const { Content } = await render(item)
---

<Page title={item.data.title}>
  <article>
    <div class="mb-20 text-center">
      <h1 class="mb-1 text-3xl font-bold">{item.data.title}</h1>
      <time date-time={item.data.date} class="text-sm">
        {format(item.data.date, 'LLLL dd, yyyy')}
      </time>
    </div>
    <div class="prose dark:prose-invert">
      <Content />
    </div>
  </article>
</Page>

<style>
  .prose {
    max-width: 65ch;
  }
  article {
    margin-top: 4rem;
  }
  h1 {
    line-height: 3rem;
  }
</style>
