---
import { getCollection } from 'astro:content'
import Page from '../../layouts/Page.astro'
import { format } from 'date-fns'
const writing = await getCollection('writing')
---

<Page title="writing">
  {
    writing.map((post) => (
      <div class="mb-6 flex flex-row">
        <time date-time={post.data.date} class="flex-shrink-0 block text-sm text-right w-20">
          {format(post.data.date, 'LLL dd yyyy')}
        </time>
        <h2 class="text-lg ml-12">
          <a href={`/writing/${post.id}`} class="w-60">
            {post.data.title}
          </a>
        </h2>
      </div>
    ))
  }
</Page>

<style>
  time {
    opacity: 0.66;
    padding-top: 0.375rem;
  }
  h2:hover {
    color: black;
  }
</style>
